In [50]:
import pandas as pd
df=pd.read_csv("sales_data.csv")

df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [51]:
df.columns=df.columns.str.lower()

In [52]:
df.describe()

,product_id,sales_amount,quantity_sold,unit_cost,unit_price,discount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,1050.128000,5019.265230,25.355000,2475.304550,2728.440120,0.15239
std,29.573505,2846.790126,14.159006,1417.872546,1419.399839,0.08720
min,1001.000000,100.120000,1.000000,60.280000,167.120000,0.00000
25%,1024.000000,2550.297500,13.000000,1238.380000,1509.085000,0.08000
50%,1051.000000,5019.300000,25.000000,2467.235000,2696.400000,0.15000
75%,1075.000000,7507.445000,38.000000,3702.865000,3957.970000,0.23000
max,1100.000000,9989.040000,49.000000,4995.300000,5442.150000,0.30000

In [53]:
df.isnull().sum()

product_id              0
sale_date               0
sales_rep               0
region                  0
sales_amount            0
quantity_sold           0
product_category        0
unit_cost               0
unit_price              0
customer_type           0
discount                0
payment_method          0
sales_channel           0
region_and_sales_rep    0
dtype: int64

In [54]:
df["total_revenue"]=df["quantity_sold"] * df["unit_price"]
df["total_revenue"]

0        4809.96
1       71560.48
2       11142.00
3      174242.25
4        9005.23
         ...
995     21768.60
996     68686.80
997      7450.59
998    145992.21
999    140480.64
Name: total_revenue, Length: 1000, dtype: float64

In [55]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,4809.96
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob,71560.48
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,11142.00
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,174242.25
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie,9005.23

In [56]:
df.groupby("payment_method")["total_revenue"].mean()

payment_method
Bank Transfer    71912.498538
Cash             70896.202843
Credit Card      68247.404986
Name: total_revenue, dtype: float64

In [57]:
df.iloc[:2,:-3]

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash

In [58]:
df.shape

(1000, 15)

In [59]:
df.describe(include="all")
df.dtypes

product_id                int64
sale_date                object
sales_rep                object
region                   object
sales_amount            float64
quantity_sold             int64
product_category         object
unit_cost               float64
unit_price              float64
customer_type            object
discount                float64
payment_method           object
sales_channel            object
region_and_sales_rep     object
total_revenue           float64
dtype: object

In [60]:
df[["product_category","total_revenue"]].head()

  product_category  total_revenue
0        Furniture        4809.96
1        Furniture       71560.48
2             Food       11142.00
3         Clothing      174242.25
4      Electronics        9005.23

In [61]:
(df[df["unit_price"]>500]).sort_values(by="unit_price",ascending=False)

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
995,1010,2023-04-15,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online,North-Charlie,21768.60
764,1100,2023-12-01,Alice,East,1387.80,34,Furniture,4991.09,5402.28,Returning,0.00,Cash,Retail,East-Alice,183677.52
806,1001,2023-05-10,David,East,3793.91,47,Food,4865.33,5316.13,New,0.06,Bank Transfer,Online,East-David,249858.11
807,1021,2023-06-24,Alice,West,9422.75,24,Electronics,4916.17,5309.32,Returning,0.19,Credit Card,Online,West-Alice,127423.68
840,1026,2023-03-20,Bob,East,614.69,19,Electronics,4991.68,5296.65,New,0.12,Bank Transfer,Online,East-Bob,100636.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,1087,2023-04-05,Eve,East,848.49,43,Furniture,481.00,531.02,New,0.17,Cash,Online,East-Eve,22833.86
619,1100,2023-09-17,Charlie,North,4795.12,17,Electronics,83.64,528.49,New,0.13,Credit Card,Online,North-Charlie,8984.33
944,1086,2023-12-28,Bob,West,1837.37,46,Furniture,83.86,526.14,Returning,0.11,Credit Card,Online,West-Bob,24202.44
986,1086,2023-10-20,David,South,3577.07,32,Furniture,84.86,517.18,Returning,0.20,Credit Card,Retail,South-David,16549.76
873,1098,2024-01-01,Bob,South,2370.72,11,Clothing,213.41,503.36,Returning,0.27,Bank Transfer,Online,South-Bob,5536.96

In [62]:
df[df["region"]=="South"]

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,11142.00
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,174242.25
7,1087,2023-01-06,Eve,South,7698.92,46,Furniture,3702.51,3964.65,New,0.12,Bank Transfer,Online,South-Eve,182373.90
8,1075,2023-06-29,David,South,4223.39,30,Furniture,738.06,1095.45,New,0.05,Bank Transfer,Online,South-David,32863.50
13,1003,2023-12-31,Alice,South,4775.59,30,Furniture,4190.28,4270.65,New,0.20,Cash,Online,South-Alice,128119.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,1090,2023-10-15,Charlie,South,9702.27,48,Electronics,4766.53,5253.07,Returning,0.01,Bank Transfer,Online,South-Charlie,252147.36
970,1059,2023-11-08,David,South,8466.70,17,Clothing,1780.14,2185.42,Returning,0.15,Credit Card,Retail,South-David,37152.14
986,1086,2023-10-20,David,South,3577.07,32,Furniture,84.86,517.18,Returning,0.20,Credit Card,Retail,South-David,16549.76
994,1068,2023-04-06,Alice,South,9093.50,31,Clothing,3169.37,3304.15,Returning,0.25,Credit Card,Retail,South-Alice,102428.65
997,1018,2023-04-27,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online,South-David,7450.59

In [63]:
df[(df["quantity_sold"]>=5)&(df["unit_price"]<=500) ]

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,4809.96
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,11142.00
15,1053,2023-10-16,Bob,North,2235.83,48,Furniture,121.19,487.65,New,0.18,Cash,Retail,North-Bob,23407.20
118,1008,2023-12-05,Charlie,East,9583.55,27,Electronics,68.99,429.29,Returning,0.18,Credit Card,Retail,East-Charlie,11590.83
150,1027,2023-01-15,Bob,West,6261.20,26,Food,149.11,477.67,Returning,0.14,Cash,Retail,West-Bob,12419.42
178,1062,2023-05-16,Charlie,North,8495.62,46,Furniture,159.32,303.36,New,0.03,Cash,Retail,North-Charlie,13954.56
336,1017,2023-02-20,Charlie,North,8189.57,16,Furniture,102.23,167.12,New,0.04,Credit Card,Retail,North-Charlie,2673.92
372,1099,2023-10-20,David,South,7859.22,23,Clothing,93.45,181.62,Returning,0.30,Bank Transfer,Retail,South-David,4177.26
427,1014,2023-11-09,David,North,6016.92,9,Electronics,132.47,316.39,New,0.14,Credit Card,Online,North-David,2847.51
430,1015,2023-08-07,Alice,East,1148.47,19,Clothing,433.54,445.48,New,0.29,Bank Transfer,Retail,East-Alice,8464.12
461,1096,2023-04-08,Charlie,South,5935.59,45,Clothing,357.92,461.30,Returning,0.28,Cash,Online,South-Charlie,20758.50
474,1019,2023-09-01,David,West,2550.84,16,Clothing,97.24,487.03,New,0.22,Bank Transfer,Retail,West-David,7792.48
478,1090,2023-06-03,David,South,6106.64,47,Furniture,85.35,360.54,New,0.28,Cash,Online,South-David,16945.38
481,1023,2023-10-23,David,South,9519.76,42,Food,309.78,350.38,Returning,0.19,Credit Card,Retail,South-David,14715.96
493,1061,2023-04-18,Eve,North,3774.02,47,Electronics,146.27,498.46,New,0.06,Cash,Retail,North-Eve,23427.62
513,1069,2023-05-29,Alice,North,4494.80,30,Electronics,300.01,477.68,New,0.11,Bank Transfer,Retail,North-Alice,14330.40
528,1034,2023-01-16,Alice,North,1937.90,13,Furniture,366.31,492.68,New,0.12,Credit Card,Retail,North-Alice,6404.84
545,1084,2023-09-30,Alice,East,9532.87,30,Food,169.00,381.92,Returning,0.26,Cash,Retail,East-Alice,11457.60
557,1065,2023-12-30,David,South,6801.71,9,Clothing,335.82,498.31,New,0.26,Cash,Retail,South-David,4484.79
570,1087,2023-09-08,Charlie,North,119.72,20,Clothing,193.27,297.69,New,0.22,Cash,Online,North-Charlie,5953.80
627,1078,2024-01-01,David,East,8377.57,42,Food,63.41,314.93,Returning,0.03,Cash,Retail,East-David,13227.06
631,1016,2023-11-09,Charlie,South,3402.92,24,Furniture,88.44,338.94,New,0.29,Cash,Online,South-Charlie,8134.56
653,1093,2023-06-09,Bob,South,4391.38,38,Food,86.59,390.89,Returning,0.25,Credit Card,Online,South-Bob,14853.82
684,1070,2023-11-12,Bob,South,7448.31,9,Electronics,310.24,451.81,Returning,0.10,Cash,Retail,South-Bob,4066.29
706,1003,2023-05-27,Eve,East,5119.89,39,Clothing,310.96,457.84,New,0.03,Credit Card,Online,East-Eve,17855.76
765,1064,2023-08-10,Bob,South,322.02,5,Food,421.05,488.23,Returning,0.07,Credit Card,Retail,South-Bob,2441.15
769,1073,2023-12-18,Eve,West,3196.50,40,Food,157.15,436.53,New,0.04,Cash,Retail,West-Eve,17461.20
803,1033,2023-06-06,Alice,East,4602.17,32,Food,108.99,351.60,Returning,0.27,Credit Card,Retail,East-Alice,11251.20
864,1038,2023-03-13,David,North,763.46,9,Clothing,400.42,446.11,New,0.01,Bank Transfer,Retail,North-David,4014.99
871,1051,2023-11-16,Bob,West,803.25,31,Furniture,144.88,175.29,New,0.07,Bank Transfer,Online,West-Bob,5433.99
882,1005,2023-09-24,Eve,South,4453.43,6,Food,122.50,385.83,Returning,0.10,Cash,Retail,South-Eve,2314.98
897,1077,2023-08-30,Alice,West,8660.12,25,Electronics,61.50,258.92,New,0.17,Credit Card,Online,West-Alice,6473.00
900,1023,2023-08-13,Bob,East,4896.93,38,Clothing,324.45,336.37,New,0.28,Credit Card,Retail,East-Bob,12782.06
935,1034,2023-01-07,David,West,3677.90,28,Furniture,137.47,234.63,New,0.27,Bank Transfer,Retail,West-David,6569.64
968,1026,2023-02-06,Bob,West,961.47,34,Electronics,68.33,219.08,New,0.02,Credit Card,Online,West-Bob,7448.72
982,1074,2023-12-16,Bob,North,6310.56,19,Furniture,278.67,423.13,New,0.24,Credit Card,Online,North-Bob,8039.47
997,1018,2023-04-27,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online,South-David,7450.59

In [64]:
df.iloc[:10]

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,4809.96
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob,71560.48
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,11142.00
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,174242.25
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie,9005.23
5,1021,2023-02-11,Charlie,West,3761.15,32,Food,900.79,1106.51,New,0.21,Cash,Online,West-Charlie,35408.32
6,1083,2023-04-11,Bob,West,618.31,29,Furniture,2408.81,2624.09,Returning,0.14,Cash,Online,West-Bob,76098.61
7,1087,2023-01-06,Eve,South,7698.92,46,Furniture,3702.51,3964.65,New,0.12,Bank Transfer,Online,South-Eve,182373.90
8,1075,2023-06-29,David,South,4223.39,30,Furniture,738.06,1095.45,New,0.05,Bank Transfer,Online,South-David,32863.50
9,1075,2023-10-09,Charlie,West,8239.58,18,Clothing,2228.35,2682.34,New,0.13,Bank Transfer,Online,West-Charlie,48282.12

In [68]:
print(df["total_revenue"].max())
print(df["quantity_sold"].mean())

252147.36
25.355

In [70]:
df.sort_values(by="total_revenue",ascending=False)

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue
962,1090,2023-10-15,Charlie,South,9702.27,48,Electronics,4766.53,5253.07,Returning,0.01,Bank Transfer,Online,South-Charlie,252147.36
806,1001,2023-05-10,David,East,3793.91,47,Food,4865.33,5316.13,New,0.06,Bank Transfer,Online,East-David,249858.11
170,1032,2023-06-08,Eve,West,219.82,49,Electronics,4812.41,5088.00,Returning,0.09,Credit Card,Online,West-Eve,249312.00
843,1003,2023-02-19,Alice,East,937.20,45,Electronics,4974.14,5227.93,New,0.21,Bank Transfer,Online,East-Alice,235256.85
510,1047,2023-08-04,Eve,South,733.66,47,Clothing,4729.59,4976.68,Returning,0.18,Credit Card,Retail,South-Eve,233903.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,1017,2023-10-29,Eve,East,2141.90,1,Furniture,641.68,752.24,New,0.22,Bank Transfer,Online,East-Eve,752.24
799,1059,2023-04-09,Charlie,South,8063.70,1,Electronics,332.62,612.46,Returning,0.24,Cash,Retail,South-Charlie,612.46
243,1017,2023-07-21,David,East,3388.69,1,Food,172.59,404.69,Returning,0.29,Bank Transfer,Online,East-David,404.69
692,1090,2023-11-14,Bob,East,6575.91,1,Clothing,60.28,260.73,Returning,0.17,Cash,Online,East-Bob,260.73
162,1004,2023-11-18,Alice,East,7211.48,1,Food,182.99,211.18,Returning,0.27,Bank Transfer,Retail,East-Alice,211.18

In [76]:
df.groupby("product_category")["total_revenue"].mean().round(2)

product_category
Clothing       71965.43
Electronics    71426.99
Food           66999.49
Furniture      70501.08
Name: total_revenue, dtype: float64

In [82]:
df.sort_values(by="total_revenue",ascending=False)[["product_category","total_revenue"]]

    product_category  total_revenue
962      Electronics      252147.36
806             Food      249858.11
170      Electronics      249312.00
843      Electronics      235256.85
510         Clothing      233903.96
..               ...            ...
610        Furniture         752.24
799      Electronics         612.46
243             Food         404.69
692         Clothing         260.73
162             Food         211.18

[1000 rows x 2 columns]

In [83]:
df.groupby("product_category")["total_revenue"].sum()

product_category
Clothing       19286733.93
Electronics    17571040.57
Food           15141885.65
Furniture      18330280.56
Name: total_revenue, dtype: float64

In [84]:
df.groupby("region_and_sales_rep")["unit_price"].mean()

region_and_sales_rep
East-Alice       2733.579808
East-Bob         2639.085333
East-Charlie     2656.927568
East-David       2751.441864
East-Eve         2882.715273
North-Alice      2526.594375
North-Bob        2938.389773
North-Charlie    2506.159091
North-David      2831.605893
North-Eve        2756.776563
South-Alice      2989.630667
South-Bob        2732.159400
South-Charlie    2624.524688
South-David      2240.428393
South-Eve        3033.164884
West-Alice       2733.073404
West-Bob         2605.778333
West-Charlie     3120.402444
West-David       2632.767255
West-Eve         2776.130213
Name: unit_price, dtype: float64

In [91]:
df["sale_date"]=pd.to_datetime(df["sale_date"])
df["month"]=df["sale_date"].dt.month
df["monthname"]=df["sale_date"].dt.month_name()
df["year"]=df["sale_date"].dt.year
df[["month","monthname","year"]]

     month  monthname  year
0        2   February  2023
1        4      April  2023
2        9  September  2023
3        8     August  2023
4        3      March  2023
..     ...        ...   ...
995      4      April  2023
996      9  September  2023
997      4      April  2023
998     12   December  2023
999      8     August  2023

[1000 rows x 3 columns]

In [92]:
df.groupby("monthname")["total_revenue"].sum()

monthname
April        5468497.62
August       6716190.61
December     6250242.79
February     5627477.45
January      7488100.51
July         4751432.42
June         6142561.23
March        6008259.41
May          5800626.51
November     4958930.19
October      6560606.39
September    4557015.58
Name: total_revenue, dtype: float64

In [93]:
df["sale_date"].head()

0   2023-02-03
1   2023-04-21
2   2023-09-21
3   2023-08-24
4   2023-03-24
Name: sale_date, dtype: datetime64[ns]

In [94]:
df[df["sale_date"]>"2021-01-03"]

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,total_revenue,month,monthname,year
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,4809.96,2,February,2023
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob,71560.48,4,April,2023
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,11142.00,9,September,2023
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,174242.25,8,August,2023
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie,9005.23,3,March,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1010,2023-04-15,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online,North-Charlie,21768.60,4,April,2023
996,1067,2023-09-07,Bob,North,4716.36,37,Clothing,1754.32,1856.40,New,0.21,Bank Transfer,Retail,North-Bob,68686.80,9,September,2023
997,1018,2023-04-27,David,South,7629.70,17,Clothing,355.72,438.27,Returning,0.06,Bank Transfer,Online,South-David,7450.59,4,April,2023
998,1100,2023-12-20,David,West,1629.47,39,Electronics,3685.03,3743.39,New,0.01,Bank Transfer,Online,West-David,145992.21,12,December,2023
999,1086,2023-08-16,Alice,East,4923.93,48,Food,2632.58,2926.68,Returning,0.14,Cash,Online,East-Alice,140480.64,8,August,2023

In [95]:
df.to_csv("cleaned_sales_data.csv",index=False)

In [100]:
df.drop(columns=["sale_date"])
df.drop(df[df["total_revenue"]<2000].index)
del df["total_revenue"]

In [101]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep,month,monthname,year
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,2,February,2023
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob,4,April,2023
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,9,September,2023
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,8,August,2023
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie,3,March,2023